# ==============================================================================
# FRONTEND ANGULAR: Plantilla de Variables de Entorno
# ==============================================================================

# URL del API Gateway para consumir GraphQL
GATEWAY_GRAPHQL_URL=http://localhost:3001/graphql
# URL base del API Gateway para endpoints REST de ML (Django)
GATEWAY_REST_URL=http://localhost:3001/ia
