PORT=3000
NODE_ENV=development

DB_USER=postgres
DB_PASS=
DB_NAME=multipuntos
DB_PORT=5434
DB_HOST=localhost

DB_MASTER_HOST=localhost
DB_MASTER_PORT=5434
DB_MASTER_USER=postgres
DB_MASTER_PASS=
DB_MASTER_NAME=multipuntos

DB_SLAVE_HOST=localhost
DB_SLAVE_PORT=5434
DB_SLAVE_USER=postgres
DB_SLAVE_PASS=
DB_SLAVE_NAME=multipuntos