PORT=3000
NODE_ENV=development

DB_USER=postgres
DB_PASS=mca
DB_NAME=service_nest
DB_PORT=5434
DB_HOST=localhost

DB_MASTER_HOST=localhost
DB_MASTER_PORT=5434
DB_MASTER_USER=postgres
DB_MASTER_PASS=mc
DB_MASTER_NAME=service_nest

DB_SLAVE_HOST=localhost
DB_SLAVE_PORT=5434
DB_SLAVE_USER=postgres
DB_SLAVE_PASS=mca
DB_SLAVE_NAME=service_nest

# DATABASE_URL=postgresql://neondb_owner:npg_
# TOKEN_SECRET=71xpW5PLmSzdrHGKi7YW8piZ-0c
# ALLOWED_ORIGINS=*