SECRET_KEY=
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1
DB_NAME=
DB_USER=
DB_PASSWORD=
DB_HOST=localhost
DB_PORT=5432
REDIS_URL=redis://localhost:6379/0
ML_MODELS_DIR=ml_models/trained
MEDIA_ROOT=media
CORS_ALLOWED_ORIGINS=http://localhost:4200,http://localhost:3000
